<h6>Primary Button</h6>
<div class="button_wrapper">
  <button>Default</button>
  <button class="usa-button-active">Active</button>
  <button class="usa-button-hover">Hover</button>
  <button class="usa-button-focus">Focus</button>
  <button class="usa-button-disabled" disabled>Disabled</button>
</div>

<h6>Primary Alt Button</h6>
<div class="button_wrapper">
  <button class="usa-button-primary-alt">Default</button>
  <button class="usa-button-primary-alt usa-button-active">Active</button>
  <button class="usa-button-primary-alt usa-button-hover">Hover</button>
  <button class="usa-button-primary-alt usa-button-focus">Focus</button>
  <button class="usa-button-primary-alt usa-button-disabled" disabled>Disabled</button>
</div>

<h6>Secondary Button</h6>
<div class="button_wrapper">
  <button class="usa-button-secondary">Default</button>
  <button class="usa-button-secondary usa-button-active">Active</button>
  <button class="usa-button-secondary usa-button-hover">Hover</button>
    <button class="usa-button-secondary usa-button-focus">Focus</button>
    <button class="usa-button-secondary usa-button-disabled" disabled>Disabled</button>
</div>

<h6>Gray Button</h6>
<div class="button_wrapper">
  <button class="usa-button-gray">Default</button>
  <button class="usa-button-gray usa-button-active">Active</button>
  <button class="usa-button-gray usa-button-hover">Hover</button>
  <button class="usa-button-gray usa-button-focus">Focus</button>
  <button class="usa-button-gray usa-button-disabled" disabled>Disabled</button>
</div>

<h6>Outline Button</h6>
<div class="button_wrapper">
  <button class="usa-button-outline" type="button">Default</button>
  <button class="usa-button-outline usa-button-active">Active</button>
  <button class="usa-button-outline usa-button-hover">Hover</button>
  <button class="usa-button-outline usa-button-focus">Focus</button>
  <button class="usa-button-outline usa-button-disabled" disabled>Disabled</button>
</div>

<h6>Dark Button</h6>
<div class="button_wrapper button_wrapper-dark">
  <button class="usa-button-outline-inverse" type="button">Default</button>
  <button class="usa-button-outline-inverse usa-button-active">Active</button>
  <button class="usa-button-outline-inverse usa-button-hover">Hover</button>
  <button class="usa-button-outline-inverse usa-button-focus">Focus</button>
  <button class="usa-button-outline-inverse usa-button-disabled" disabled>Disabled</button>
</div>

<h6>Big Button</h6>
<div class="button_wrapper">
  <button class="usa-button-big" type="button">Default</button>
  <button class="usa-button-big usa-button-active">Active</button>
  <button class="usa-button-big usa-button-hover">Hover</button>
  <button class="usa-button-big usa-button-focus">Focus</button>
  <button class="usa-button-big usa-button-disabled" disabled>Disabled</button>
</div>
