<div class="button_wrapper button_wrapper-dark">
  <button class="usa-button-outline-inverse" type="button">Default</button>
  <button class="usa-button-outline-inverse usa-button-active">Active</button>
  <button class="usa-button-outline-inverse usa-button-hover">Hover</button>
</div>
