<div class="button_wrapper">
  <button class="usa-button-primary-alt">Default</button>
  <button class="usa-button-primary-alt usa-button-active">Active</button>
  <button class="usa-button-primary-alt usa-button-hover">Hover</button>
  <button class="usa-button-primary-alt usa-button-focus">Default</button>
</div>
