%header.usa-header.usa-header-basic{:role => "banner"}
  #logo.usa-logo
    %em.usa-logo-text
      %a{:accesskey => "1", "aria-label" => "Home", :href => "#", :title => "Home"}
        %h1= link_to 'Fifth By Midwest', root_path, class: "home_link"
