.logo-image.usa-logo
  %em.usa-logo-image
    %a.logo{:accesskey => "1", "aria-label" => "Home", :href => "#", :title => "Home"}
      %img{:alt => "Fifth By Midwest", :src => asset_url("logo-fullX-100px.png")}/
.logo-text.usa-logo
  %em.usa-logo-text
    %h1.home_link
      = link_to root_path do
        %span.primary-blue Fifth
        %span.white by
        %span.primary-red Midwest
