%section.homepage.intro
  %img.intro-img{:alt => "Fifth By Midwest", :src => asset_url("5xmw-banner-1200.png")}/

%p.alert
  = 'Fifth by Midwest is also an open source software project. Read more about the problems we\'re aiming to solve, and jump in to help!'
  %a.usa-button.cta.usa-external_link{:href => 'https://github.com/fifthbymidwest/fifthbymidwest.github.io/blob/master/README.md'} Read about 5xMW

%p Facing questions like, how do we hear every voice? How much do our representatives represent us?
