%p.alert
  = 'Learn about the Fifth by Midwest open source project and the problems we\'re aiming to solve.'
  %a.usa-button.cta.usa-external_link{:href => 'https://github.com/fifthbymidwest/fifthbymidwest.github.io/blob/master/README.md'} Read about us
