/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'uswds_rails_overrides/core/defaults';
@import 'uswds/all';
@import 'uswds_rails_overrides/all';

html {
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}

$primary-blue: #02bfe7;
$primary-red: #e31c3d;

.primary-red {
  color: $primary-red;
}
.primary-blue {
  color: $primary-blue;
}
.white {
  color: white;
}

main {
  padding: 0px 20px;
}

.tippytop {
  display: block;
  background: #046b99;
  .usa-nav-secondary-links {
    display: flex;
    justify-content: flex-end;
  }
  .secondary-nav-link {
    flex: 1 1;
    border-left: 1px solid #112e51;
    a {
      display: block;
      color: white;
      text-align: center;
      padding: 5px 10px;
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
    }
  }
}

.site-header {
  // background: #112e51;
  background: #1e4370; // this color isn't uswds kosher
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-flow: row nowrap;
}

.home_link {
  font-family: "Source Sans", sans-serif;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}
@media (min-width: 600px) {
  .home_link {
    line-height: 5rem;
    margin-bottom: 0.5rem;
    .primary-blue {
      font-size: 7rem;
    }
    .primary-red {
      display: block;
      font-size: 7rem;
      line-height: 4rem;
    }
  }
}

// an anchor tag wrapping the image
.logo-image {
  display: none;
  flex: 0 1 auto;
  margin-left: -2rem;
  img {
    display: block;
  }
}
.logo-text {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  overflow: visible;
}
.usa-logo {
  float: none;
  line-height: 4rem;
  margin-left: 0;
  text-align: center;
  width: 100%;
}
