/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // VARIABLES
@import 'uswds_rails_overrides/core/defaults';
@import 'uswds/all';
@import 'uswds_rails_overrides/all';
$font-path: '../../../../fonts';

$base: #112e51;
$primary-blue: #02bfe7;
$primary-blue-lightest: #e1f3f8;
$primary-blue-darkest: #112e51;
$primary-red: #e31c3d;
$page-padding: 1em; // padding from edge of viewport

// media queries
$above_tablet_size: "min-width: 768px";
$above_smartphone_size: "min-width: 412px";
$above_cellphone_size: "min-width: 320px";
@media only screen and ($above_cellphone_size) {

}
@media only screen and ($above_smartphone_size) {

}
@media only screen and ($above_tablet_size) {

}


// base
html {
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}
body {
  color: $base;
}
main {
  padding: 0;
}
// utils
.primary-red {
  color: $primary-red;
}
.primary-blue {
  color: $primary-blue;
}
.primary-blue-darkest {
  color: $primary-blue-darkest;
}
.white {
  color: white;
}
.alert {
  background-color: $primary-blue-lightest;
  font-weight: 700;
  margin: $page-padding;
  padding: $page-padding;
}

.tippytop {
  display: block;
}
.secondary-nav {
    // display: none;
}
.usa-nav-secondary-links {
  display: flex;
  justify-content: flex-end;
}

.secondary-nav-link {
  color: $primary-blue-lightest;
  flex: 1 50%;
  text-align: center;
  a {
    color: inherit;
  }
}
.home_link {
  color: $base;
  font-family: $font-sans;
  font-size: 3rem;
  margin: 0;
  text-transform: uppercase;
}

// override uswds
.usa-logo {
  background-color: white;
  background-image: asset-url('logo.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: none;
  margin-left: 0;
  text-align: left;
  width: 100%;
}

.logo-text {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  height: 100%;
  width: 100%;
}

@media (min-width: 600px) {

  .usa-logo.logo-text {
    margin: 0;
    text-align: left;
  }
  .home_link {
    display: block;
  }

  .usa-nav-secondary-links {
    width: 100%;
    li {
      display: inline-block;
      min-width: 9rem;
      padding: 0;
    }
    li:not(:last-child)::after {
      content: '';
      display: none;
    }
  }
  .secondary-nav-link a {
    color: $base;
    text-shadow: none;
  }
}

.section {
  margin: 0 auto;
  padding: $page-padding;
}

.intro {
  color: white;
}
.intro-img {
  width: 100%;
}


// styles
.secondary-nav {
  background: $primary-blue-darkest;
  display: none;
}
