/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'uswds_rails_overrides/core/defaults';
@import 'uswds/all';
@import 'uswds_rails_overrides/all';

$primary-blue: #02bfe7;
$primary-red: #e31c3d;

.primary-red {
  color: $primary-red;
}
.primary-blue {
  color: $primary-blue;
}
.white {
  color: white;
}

main {
  padding: 0px 20px;
}

.home_link {
  font-family: "Source Sans", sans-serif;
  text-transform: uppercase;
  line-height: 5rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 3rem;
  .primary-blue {
    font-size: 7rem;
  }
  .primary-red {
    display: block;
    font-size: 7rem;
    line-height: 4rem;
  }
}


.site-header {
  background: #112e51;
  display: flex;
  flex-flow: row nowrap;
}

// an anchor tag wrapping the image
.logo-image {
  flex: 0 1 auto;
  margin-left: -2rem;
  img {
    display: block;
  }
}

.tippytop {
  display: block;
  background: #323a45;
  .usa-nav-secondary-links {
    display: flex;
    justify-content: flex-end;
  }
  .secondary-nav-link {
    flex: 1 1;
    text-align: center;
    a {
      color: white;
    }
  }
}

.logo-text {
  flex: 0 1 auto;
}
